<!DOCTYPE html>
<html>
  <head>
  	<title>FusionCharts || www.fusioncharts.com</title>
	<style>
		body{
			{% load static %}
			background-image: url({% static 'logo.png'%});
			background-size: cover;
			background-attachment: fixed;
			background-repeat: no-repeat;
			
}
</style>
  </head>
  <body style="font-family:courier, Arial; font-size: 20px;">
<center>      
<h1>Traffic Analysis</h1>
	<p>by GIST WiSe lab.</p>

</center>

      <ol>	  
	<li><a href="/Line-Chart-With-Time-Axis">Average Packet Length</a></li>
        <li><a href="/rendering-column2d-chart-using-dictionary-example">Top 10 Port Number</a></li>
	<li><a href="/rendering-column2d-chart-using-dictionary-2ndexample">Top 10 IP address</a></li>
        <li><a href="/rendering-pie3d-using-json-example">Protocol share</a></li>
        
      </ol>
  </body>
</html>
